@use '../../../styles/colors';
@use '../../../styles/fonts';

.media-container {
    width: 100%;
    min-height: 100vh;
    padding: 100px 0;
    position: relative;

    .content-section {
        margin: 12px 300px;
    }

    .article-section {
        margin-top: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
